$primary-text-color: #ffffff;
$logo-color: #6d6d6d;
$secondary-text-color: #949494;
$text-btn-color: #121212;
$bg-color: #1b1b1a;
$bg-color-primary: #eccf94;
$btn-color: #eccf94;
$btn-color-hover: #f98b4d;
$accent-color: #ffcf7a;
$time: 250ms;
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-primary: LabGrotesque, sans-serif;
$font-family-secondary: ScaniaSansCYHeadline, sans-serif;
