.experience {
  padding-top: 47px;
  padding-bottom: 47px;
}

.experience__title {
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(
    249.07deg,
    #ffffff 36.17%,
    rgba(255, 255, 255, 0) 97.71%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-bottom: 45px;
  @media screen and (max-width: 480px) {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    font-size: 28px;
  }

  @include desktop {
    font-size: 40px;
  }
}

.photo-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 42px;
  margin-bottom: 90px;
}

.experience__bottom-title {
  width: 290px;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(
    239.18deg,
    #ffffff 25.25%,
    rgba(255, 255, 255, 0.07) 95.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 700px;
    font-size: 28px;
  }

  @include desktop {
    width: 1080px;
    font-size: 40px;
  }
}
