.no-webp .using {
  background-image: url("../img/Ellipse-use.png"),
    url("../img/Ellipse-use-01.png"), url("../img/fill-use-bg.png"),
    url("../img/fill-use.png");
  @include retina {
    background-image: url("../img/Ellipse-use@2x.png"),
      url("../img/Ellipse-use-01@2x.png"), url("../img/fill-use-bg@2x.png"),
      url("../img/fill-use@2x.png");
  }
}

.webp .using {
  background-image: url("../img/Ellipse-use.webp"),
    url("../img/Ellipse-use-01.webp"), url("../img/fill-use-bg.webp"),
    url("../img/fill-use.webp");
  @include retina {
    background-image: url("../img/Ellipse-use@2x.webp"),
      url("../img/Ellipse-use-01@2x.webp"), url("../img/fill-use-bg@2x.webp"),
      url("../img/fill-use@2x.webp");
  }
}

.using {
  padding-top: 40px;
  padding-bottom: 200px;
  background-image: url("../img/Ellipse-use.webp"),
    url("../img/Ellipse-use-01.webp"), url("../img/fill-use-bg.webp"),
    url("../img/fill-use.webp");
  @include retina {
    background-image: url("../img/Ellipse-use@2x.webp"),
      url("../img/Ellipse-use-01@2x.webp"), url("../img/fill-use-bg@2x.webp"),
      url("../img/fill-use@2x.webp");
  }

  background-repeat: no-repeat;
  background-position: top 100% right 55%, top 86% right 70%, top 120% right 50%,
    top 140% right 50%;
  background-size: 96px 96px, 56px 56px, 320px 320px, 360px 360px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 170px;

    background-position: top 360px right 200px, top 310px right 370px,
      top -150px right -150px, top -100px right -150px;
    background-size: 244px 244px, 144px 144px, 791px 789px, 901px 901px;
  }

  @include desktop {
    background-position: top 360px right 350px, top 310px right 520px,
      top -150px right 0, top -100px right 0;
    background-size: 244px 244px, 144px 144px, 791px 789px, 901px 901px;
  }
}

.using__title {
  width: 224px;
  font-size: 21px;
  line-height: 1.38;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(
    233.62deg,
    #ffffff 28.79%,
    rgba(255, 255, 255, 0) 98.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-bottom: 23px;

  @include tablet {
    margin-left: 84px;
    font-size: 40px;
  }

  //   @include desktop {
  // 		font-size: 40px;
  //   }
}

.using__text {
  width: 270px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 23px;

  @include tablet {
    font-size: 18px;
    width: 370px;
  }
  @include desktop {
    margin-left: 84px;
  }
}
.using__bottom-text {
  width: 270px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 47px;

  @include tablet {
    font-size: 18px;
    width: 370px;
    margin-bottom: 217px;
  }

  @include desktop {
    margin-left: 84px;
    margin-bottom: 87px;
  }
}
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 17px;
  margin-bottom: 19px;
  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    justify-content: flex-end;
    margin-right: 50px;
  }

  @include desktop {
    justify-content: center;
  }
}

.icons__img::after {
  display: inline-block;
  width: 31px;
  height: 1px;
  content: "";

  background-color: $secondary-text-color;
  margin-bottom: 5px;
}

.using__icon-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  margin-right: auto;
  margin-left: auto;
  width: 184px;

  @include tablet {
    margin-right: 0;
    margin-left: auto;
    font-size: 14px;
    width: 194px;
  }
  @include desktop {
    width: 234px;
    margin-left: 544px;
  }
}
