.design {
  padding-top: 23px;
  padding-bottom: 23px;

  @include tablet {
    padding-top: 43px;
    padding-bottom: 83px;
  }
}

.design__main-container {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    margin-bottom: 56px;
  }

  @include desktop {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 113px;
    column-gap: 75px;
    margin-bottom: 106px;
  }
}

.design-box:nth-child(1) {
  padding-top: 40px;
  @media screen and (max-width: 1439px) {
    margin-bottom: 30px;
  }
}

.design-box:nth-child(1),
.design-box:nth-child(3) {
  width: 290px;
  @include tablet {
    width: 571px;
  }
}

.design-box:nth-child(2),
.design-box:nth-child(4) {
  width: 290px;
  @include tablet {
    width: 548px;
  }
}

.design-box__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 24px;

  @include tablet {
    font-size: 24px;
  }
}

.design-box__title--width {
  width: 290px;

  @include tablet {
    width: 341px;
  }
}

.design-box__bottom-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.93;
  margin-bottom: 37px;
}

.design-box:nth-child(1) .design-box__bottom-text {
  margin-bottom: 19px;
}

.design-box:nth-child(2) .design-box__bottom-text {
  margin-bottom: 50px;
}

.design-image {
  margin-bottom: 20px;
}

.design-box__list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #757575;
  margin-bottom: 10px;
}
.design-box__list-name--size {
  margin-bottom: 30px;
}

.variants-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;
  width: 290px;
  height: 60px;
  margin-bottom: 40px;

  @include tablet {
    column-gap: 70px;
    width: 365px;
    margin-bottom: 70px;
  }
}

.variants-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.93;
}
.design-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 290px;

  @include tablet {
    width: 575px;
    height: 164px;
  }
}

.design-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.93;
  column-gap: 70px;
}
.design-img {
  position: relative;
}
.design-img__arrow {
  position: absolute;
  bottom: 15px;
  left: 15px;

  @include tablet {
    bottom: 45px;
    left: 45px;
  }
}
.design-img__btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 24px;
}

.design__bottom-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.47;
  text-align: center;
  margin-bottom: 35px;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 30px;
  }
}

.design-box__bottom-text--border {
  position: relative;
  padding-bottom: 16px;
}

.design-box__line {
  position: absolute;
  top: 40px;
  left: 0;
}

.design-box__line svg {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.no-webp .design__button {
  background-image: url(../img/Ellipse.png);
  @include retina {
    background-image: url(../img/Ellipse@2x.png);
  }
}

.design__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  background: $bg-color-primary;
  border: none;
  border-radius: 1px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.67;
  color: $text-btn-color;
  background-image: url(../img/Ellipse.webp);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-size: 284px 60px;
  margin-left: auto;
  margin-right: auto;
  @include retina {
    background-image: url(../img/Ellipse@2x.webp);
  }

  @include tablet {
    font-size: 18px;
    width: 284px;
    height: 60px;
  }
}
