.settings {
  padding-bottom: 50px;
  position: relative;
  @include desktop {
    padding-bottom: 100px;
  }
}

.settings__title {
  font-size: 21px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(
    235.41deg,
    #ffffff 28.47%,
    rgba(255, 255, 255, 0.18) 91.88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-bottom: 67px;

  @include tablet {
    font-size: 28px;
  }
  @include desktop {
    font-size: 40px;
  }
}

.settings-form {
  @include desktop {
    display: flex;
    gap: 84px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-weight: 500;
  font-size: 10px;
  line-height: 5.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
}
.form__rate {
  display: flex;
  align-items: center;
  justify-self: centre;
  width: 210px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include tablet {
    width: 410px;
    margin-left: 39px;
    margin-right: 47px;
  }
}

.form__rate::-webkit-slider-runnable-track {
  height: 2px;
  background-color: $accent-color;
}

.form__rate::-moz-range-track {
  height: 2px;
  background-color: $accent-color;
}

.form__rate::-webkit-slider-thumb {
  background: $accent-color;
  border-radius: 2px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -10px;
  box-shadow: 0 0 0 2px $accent-color;

  @include tablet {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}

.form__rate::-moz-range-thumb {
  cursor: pointer;
  background: $accent-color;
  border-radius: 2px;
  appearance: none;
  height: 20px;
  margin-top: -10px;
  padding: 0px;
  box-shadow: 0 0 0 2px $accent-color;

  @include tablet {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
.form__range-panel {
  display: flex;
  align-items: center;
  justify-self: centre;
}

.form__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 3.06;
  text-align: center;
  color: $primary-text-color;

  @include tablet {
    font-size: 18px;
  }
}

.panel-gallery__btn-input {
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 0;
  width: 18px;
  height: 18px;
}

.panel-gallery {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 18px;
  @include tablet {
    gap: 26px;
  }
}

.line-list {
  display: flex;

  align-items: center;
  gap: 4px;
  margin-left: 130px;
  margin-bottom: 12px;
}

.line-list__item + .line-list__item {
  margin-left: 4px;
}

.line-list__dash {
  width: 9px;
  height: 1px;
  background-color: #464239;
  display: inline-block;
}

.line-list__dash--accent {
  background-color: $accent-color;
}

.checkbox__container {
  margin-bottom: 120px;

  @include tablet {
    display: flex;
    gap: 143px;
    margin-bottom: 150px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.checkbox__box {
  display: flex;
  flex-direction: column;
}

.checkbox__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
}
.checkbox__icon {
  width: 20px;
  height: 20px;
  border: 1px solid #ceb787;
  border-radius: 2px;
  background-color: transparent;
  margin-left: 86px;
}

.no-webp .form__button {
  background-image: url(../img/btn-form.png);
  @include retina {
    background-image: url(../img/btn-form@2x.png);
  }
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.67;
  width: 200px;
  height: 48px;
  background-image: url(../img/btn-form.webp);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $btn-color;
  border-radius: 1px;
  margin-left: auto;

  color: #121212;
  @include retina {
    background-image: url(../img/btn-form@2x.webp);
  }

  @include tablet {
    font-size: 18px;

    width: 254px;
    height: 60px;
  }
}

.choose-information {
  position: absolute;
  top: 870px;
  left: 15px;
  display: flex;

  gap: 25px;

  @media screen and (min-width: 375px) and (max-width: 424px) {
    left: 45px;
  }

  @media screen and (min-width: 425px) and (max-width: 767px) {
    left: 75px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 970px;
  }

  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  @include tablet {
    position: absolute;
    top: 970px;
    right: 300px;
    display: flex;
    gap: 35px;
  }
  @include desktop {
    position: absolute;
    top: 630px;
    left: 123px;
    display: flex;
    gap: 215px;
  }
}

.choose-information__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 4.58;
  letter-spacing: 0.135em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);

  @include tablet {
    font-size: 12px;
  }
}
.choose-information__bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.29;

  @include tablet {
    font-size: 24px;
  }
}

.choose-information__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.05em;

  color: $accent-color;
  @include tablet {
    font-size: 36px;
  }
}
.choose-information__circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #b8542a;
  margin-top: 7px;

  @include tablet {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    font-size: 24px;
  }
}

.checkbox__input:checked + .checkbox__text + .checkbox__icon {
  background-color: $accent-color;
  border-color: $accent-color;
  background-image: url(../img/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}
