.contacts {
  padding-top: 72px;
  padding-bottom: 66px;
  background-color: #000000;
}

.contacts .container {
  @include tablet {
    height: 338px;
  }
  @include desktop {
    height: 388px;
  }
}

.contacts__container {
  @include tablet {
    display: flex;
  }
}

.contacts__title {
  font-size: 21px;
  line-height: 1.38;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  background: linear-gradient(
    190.91deg,
    #ffffff 35.36%,
    rgba(255, 255, 255, 0) 95.46%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-bottom: 31px;

  @include tablet {
    width: 435px;
    font-size: 40px;
    margin-bottom: 71px;
  }
  @include desktop {
    font-size: 40px;
  }
}

.contacts-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @include tablet {
    width: 650px;
    height: 210px;
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 60px;

  @include tablet {
    row-gap: 35px;
    column-gap: 107px;
  }
  @include desktop {
    row-gap: 45px;
    column-gap: 217px;
  }
}

.contacts-information {
  margin-left: auto;
}

.contacts-list__text,
.contacts-information__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 2.57;
  color: $secondary-text-color;

  margin-bottom: 14px;
}

.contacts-list__link,
.contacts-information__link {
  font-family: inherit;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.64;
  color: $primary-text-color;

  transition: color $time $function-animation;

  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 22px;
  }
}

.contacts-information__link {
  display: inline-block;
  margin-bottom: 61px;
}

.contacts-list__link--address {
  display: inline-block;
  width: 108px;

  @include tablet {
    width: 200px;
  }
  @include desktop {
    width: 268px;
  }
}

.contacts-list__link:hover,
.contacts-information__link:hover,
.contacts-list__link:focus,
.contacts-information__link:focus {
  color: $accent-color;
}

.contacts-list__link--gold {
  color: $accent-color;
  transition: color $time $function-animation;
}

.contacts-list__link--gold:hover,
.contacts-list__link--gold:focus {
  color: $primary-text-color;
}

.contacts-information__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ceb787;
  border-radius: 2px;
  width: 159px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  background-color: transparent;
  color: $primary-text-color;

  transition: color $time $function-animation,
    background-color $time $function-animation;

  @include tablet {
    font-size: 14px;
    width: 200px;
    height: 60px;
  }
  @include desktop {
    font-size: 18px;
    width: 279px;
    height: 60px;
  }
}

.contacts-information__btn:hover,
.contacts-information__btn:focus {
  color: $bg-color;
  background-color: $accent-color;
}
