@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url("../fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: LabGrotesque;
  font-display: swap;
  src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ScaniaSansCYHeadline;
  font-display: swap;
  src: url("../fonts/ScaniaSansCYHeadline-Regular.woff2") format("woff2"),
    url("../fonts/ScaniaSansCYHeadline-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
